@media screen and (min-width: 375px) and (max-width: 667px){
    body {
        margin: 0;
        color: white;
        background: #19191B;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    header {
        width: 100%;
        height: 160vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: radial-gradient(50% 50% at 50% 50%, #353550 0%, rgba(25, 25, 27, 0.00) 100%);
    }

    .header1 {
        margin: 0;
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
    }

    .header1_1 {
        width: 40%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header1_1 p{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 28px;
        font-weight: 700;
    }
    nav {
      display: none;
    }
    .header1_2 {
      display: none;
    }
    .header2 {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .header2_1 {
        width: 80%;
        height: 150vh;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }

    .header2_2 {
        width: 50%;
        height: 74vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .header2_2 img {
        width: 374px;
        height: 406px;
    }

    .header_h1 {
        width: 70%;
        height: 40vh;
        color: #FFF;
    }

    .header_h1 p {
        font-size: 42px;
        font-weight: 400;
        line-height: 63px;
    }

    .header_p {
        padding-top: 0;
        width: 70%;
        height: 20vh;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.657px;
        color: rgba(255, 255, 255, 0.70);
    }
    .header_button a button {
        width: 166px;
        height: 44px;
        border-radius: 4px;
        background-color: #5454D4;
        font-size: 20px;
        color: #FFFFFF;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 30px;
    }

    /*!*--------------------------------------main_1----------------------------*!*/
    .main1 {
        margin: 0;
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main11 {
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main111 {
        width: 80%;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        line-height: 54px;
    }

    .main112 {
        width: 80%;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: start;
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.70);
    }

    .main12 {
        width: 90%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main12 img {
        width: 373px;
        height: 200px;
    }

    /*!*-------------------------------main2-------------------------*!*/
    .main2 {
        margin: 0;
        width: 100%;
        height: 300vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main21 {
        width: 100%;
        height: 50vh;
        font-size: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main22 {
        width: 80%;
        height: 150vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .main221, .main222, .main223{
        width: 200px;
        height: 300px;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .oval221 {
        width: 69px;
        height: 69px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 50%;
        background-color: rgba(84, 84, 212, 0.09);
    }
    .main2212{
        width: 200px;
        height: 75px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main2212p, .main2222, .main2232{
        width: 200px;
        height: 60px;
        text-align: center;
    }
    .main2212p p, .main2222p p, .main2232p p{
        width: 200px;
        height: 75px;
        text-align: center;
        color: rgba(255, 255, 255, 0.70);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }
    .oval222 {
        width: 69px;
        height: 69px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 50%;
        background-color: rgba(240, 64, 55, 0.15);
    }
    .oval223 {
        width: 69px;
        height: 69px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 50%;
        background-color: rgba(254, 220, 90, 0.11);
    }
    .main23 {
        width: 80%;
        height: 150vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .main231, .main232, .main233{
        width: 200px;
        height: 300px;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .oval231 {
        width: 69px;
        height: 69px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 50%;
        background-color: rgba(254, 220, 90, 0.13);
    }
    .main2312, .main2322, .main2332{
        width: 200px;
        height: 60px;
        text-align: center;
    }
    .main2312p p, .main2322p p, .main2332p {
        width: 200px;
        height: 75px;
        text-align: center;
        color: rgba(255, 255, 255, 0.70);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }
    .oval232 {
        width: 69px;
        height: 69px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 50%;
        background-color: rgba(84, 84, 212, 0.13);
    }
    .oval233 {
        width: 69px;
        height: 69px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 50%;
        background-color: rgba(240, 64, 55, 0.14);
    }
    /*!*-----------------------------Main3---------------------------*!*/
    .main3{
        margin: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #19191B;
    }
    .main31{
        width: 80%;
        height: 25vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 58px;
    }
    .main32{
        width: 80%;
        height: 76vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main321{
        width: 384px;
        height: 301px;
        border-radius: 14px;
        background-color: #1E1E20;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main322{
        display: none;
    }
    .main323{
        display: none;
    }
    /*!*---------------------------------footer---------------------------------*!*/
    footer{
        width: 100%;
        height: 150vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer1{
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background: rgba(30, 30, 32, 0.50);
    }

    .footer11{
        margin-left: 7vw;
        width: 70%;
        height: 50vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 36px;
        line-height: 54px;
    }
    .footer12 a button{
        margin-left: 7vw;
        width: 200px;
        height: 58px;
        border-radius: 6px;
        background: #5454D4;
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }
    .footer2{
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
    }
    .footer21{
        width: 15%;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer21 p{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 28px;
    }
    .footer22, .footer23, .footer24, .footer25{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(255, 255, 255, 0.70);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        text-transform: capitalize;
    }

}